In [1]:
import pandas as pd
import sklearn

In [2]:
# read in data
data_202301 = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')
data_202302 = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet')

In [3]:
# check read in data
data_202301.head()
data_202301.dtypes
len(data_202301.axes[0])

3066766

In [4]:
# Q1
len(data_202301.axes[1])

19

In [5]:
# Q2

# calc duration field
data_202301["duration_min"] = (data_202301["tpep_dropoff_datetime"] - data_202301["tpep_pickup_datetime"]).dt.total_seconds() / 60

data_202301.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration_min
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [6]:
# calc std deviation
data_202301["duration_min"].std()

42.594351241920904

In [7]:
# Q3

data_202301["duration_min"].min()

-29.2

In [8]:
data_202301["duration_min"].max()

10029.183333333332

In [9]:
# filter for duration between 1 & 60mins (incl)

data_202301_filtered = data_202301[(data_202301["duration_min"] >= 1) & (data_202301["duration_min"] <= 60)]
len(data_202301_filtered.axes[0])

3009173

In [10]:
# calc % records left
len(data_202301_filtered.axes[0]) / len(data_202301.axes[0]) * 100

98.1220282212598

In [19]:
# Q4

# re-cast PU & DO IDs as string
data_202301_filtered[["PULocationID", "DOLocationID"]] = data_202301_filtered[["PULocationID", "DOLocationID"]].astype(str)
data_202301_filtered.dtypes

/tmp/ipykernel_43819/1213335998.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_202301_filtered[["PULocationID", "DOLocationID"]] = data_202301_filtered[["PULocationID", "DOLocationID"]].astype(str)

VendorID                          int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                     object
DOLocationID                     object
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
duration_min                    float64
dtype: object

In [ ]:
data_202301_filtered_list_of_dict = data_202301_filtered.to_dict(orient = 'records')